/*
 *	Arquivo  login.css
 *	CSS da classe login.class.php
 *	
 *	Sistema:	Doce___Bacana_Lingerie
 *	Autor:      Rogério Eduardo Pereira
 *	Data:       24/01/2015
 */
body
{
	position:		absolute;
	height:			100%;
	width:			100%;
	overflow:		hidden;
}
div.contentLogin
{
	position:	relative;
	height:		100%;
	width:		100%;
	text-align: center;
}
form.formulario table
{
	position:		absolute;
	width:			200px;
	margin-left:	auto;
	margin-right:	auto;
	left:			40%;
	top:			30%;
}