/*
 *	Arquivo  template.css
 *	CSS da classe template.class.php
 *	
 *	Sistema:	Doce___Bacana_Lingerie
 *	Autor:      Rogério Eduardo Pereira
 *	Data:       13/01/2015
 */
@font-face 
{
	font-family:	"Logotipo";
	src:			url("../fonts/harngton.eot");
	src:			local('Logotipo'), url('../fonts/harngton.ttf') format('truetype');
}
body
{
	margin:				0px;
	padding:			0px;
	width:				100%;
	height:				100%;
	
	
	background-image:	url('../img/template/fundo.png');
	background-repeat:	repeat;
	
	font-family:		'Open Sans Condensed', sans-serif;
	font-size:			1.6em;
}

a
{
	/*font-family:		'Logotipo';*/
	font-family:		'Muli', sans-serif;
	text-decoration:	none;
	color:				#f70d48;
}
a:hover
{
	text-decoration: underline;
}

hr
{
	border:				0;
    height:				1px;
	margin-bottom:		10px;
    background-image:	-webkit-linear-gradient(left,	rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:   -moz-linear-gradient(left,		rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:   -ms-linear-gradient(left,		rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:   -o-linear-gradient(left,		rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

h1
{
	margin-bottom:	0px;
	padding-bottom: 0px;
	font-weight: normal;
}

h1,h2,h3,h4,h5,h6,p,ul
{
	margin-top:		0px;
	padding-top:	0px;
}

h1
{
	font-size: 2em;
}

h2
{
	font-size: 1.5em;
}

h3,h4,h5,h6
{
	font-size: 1em;
}

span#logotipo
{
	font-family:		'Logotipo';
	color:				#f70d48;
}

div#page
{
	width:			100%;
	min-height:		100%;
	padding:		0px;
	margin:			0px;
}


div#header
{
	top:		0px;
	width:		100%;
	padding:	0px;
	margin:		0px;
}
header
{
	position:	absolute;
	top:		0px;
	margin:		0%;	
	padding:	0px;
	width:		100%;
}

header figure
{
	position:	relative;
	top:		0px;
	left:		1%;
	margin:		0px;
	padding:	0px;
	float:		left;	
}
header figure img
{
	width: 81%;
}

header h1
{
	position:		absolute;
	margin:			0px;
	padding:		0px;
	left:			21.5%;
	top:			30%;
	font-weight:	normal;
}


div#section
{
	position:	absolute;
	top:		20%;
	width:		100%;
	padding:	0px;
	margin:		0px;
}
aside
{
	width:			10%;
	float:			left;
	padding-top:	0px;
	text-align:		center;
}

aside h1, section aside a
{
	font-size:		.8em;
	font-family:	'Open Sans Condensed', sans-serif;
}

aside nav#menu ul#menuLista
{
	list-style:		none;
	margin-top:		0px;
	margin-left:	0px;
	padding-left:	0px;
	text-align:		left;
}

aside nav#menu ul#menuLista a
{
	color: black;
	
	font-family:	'Open Sans Condensed', sans-serif;
	font-size:		.85em;
}

aside nav#menu ul#menuLista a:hover
{
	text-decoration: none;
}

aside nav#menu ul#menuLista a li
{
	background-color:		white;
	padding-left:			10px;
	
	border:					solid 1px black;
	-webkit-border-radius:	5px;
	-moz-border-radius:		5px;
	border-radius:			5px;
	
	-webkit-transition:		all 1s ease;
	-moz-transition:		all 1s ease;
	-ms-transition:			all 1s ease;
	-o-transition:			all 1s ease;
	transition:				all 1s ease;
}

aside nav#menu ul#menuLista a li:hover
{
	background-color:	black;
	color:				white;
}

section
{
	position:		absolute;
	right:			0px;
	top:			0px;
	width:			88%;
	padding-left:	10px;
}

div#footer
{
	position:		relative;
	bottom:			0px;
	width:			100%;
	margin-bottom:	0%;
	padding-bottom: 0px;
}

footer
{
	width:				100%;
	background-color:	black;
	color:				white;
	text-align:			center;
}

footer hr
{
	border:				0;
    height:				1px;
    background-image:	-webkit-linear-gradient(left,	rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:   -moz-linear-gradient(left,		rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:   -ms-linear-gradient(left,		rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:   -o-linear-gradient(left,		rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
}