/*
 *	Arquivo  contato.css
 *	CSS da classe contato.class.php
 *	
 *	Sistema:	Doce___Bacana_Lingerie
 *	Autor:      Rogério Eduardo Pereira
 *	Data:       16/01/2015
 */

div.contatoContent
{
	position: 		relative;
	width: 			400px;
	font-size: 		1em;
	overflow:		hidden;
	text-align:		left;
	margin-left:	auto;
	margin-right:	auto;
}

table.contatoTable
{
	margin: 	0px;
	width:		400px;
}