/*
 *	Arquivo  perfil.css
 *	CSS da classe perfil.class.php
 *	
 *	Sistema:	Doce___Bacana_Lingerie
 *	Autor:      Rogério Eduardo Pereira
 *	Data:       09/02/2015
 */
div.informacoesPerfil
{
	width:		75%;
	left:		0px;
	top:		0px;
	float:		left;
}

div.menuPerfil
{
	position:	relative;
	width:		25%;
	right:		0px;
	top:		0px;
	float:		right;
}

div.menuPerfil a
{
	color:					white;
	background-color:		black;
	
	-webkit-border-radius:	30px;
	-moz-border-radius:		30px;
	border-radius:			30px;
	
	padding-left:			15px;
	padding-right:			15px;
	
	-webkit-transition:		all 1s ease;
	-moz-transition:		all 1s ease;
	-ms-transition:			all 1s ease;
	-o-transition:			all 1s ease;
	transition:				all 1s ease;
}

div.menuPerfil a:hover
{
	background-color:	white;
	color:				black;
}