/*
 *	Arquivo  produtos.css
 *	CSS da classe categorias.class.php
 *	
 *	Sistema:	Doce___Bacana_Lingerie
 *	Autor:      Rogério Eduardo Pereira
 *	Data:       04/02/2015
 */
ul.produtosLista
{
	list-style: none;
}
ul.produtosLista li
{	
	display:		inline-block;
	text-align:		center;
	margin-bottom:	5%;
	
	padding-left:	0px;
	padding-right:	0px;
	margin-left:	0px;
	margin-right:	0px;
	width:			24%;
}
ul.produtosLista li a
{
	color:					white;
	background-color:		black;
	
	-webkit-border-radius:	30px;
	-moz-border-radius:		30px;
	border-radius:			30px;
	
	-webkit-transition:		all 1s ease;
	-moz-transition:		all 1s ease;
	-ms-transition:			all 1s ease;
	-o-transition:			all 1s ease;
	transition:				all 1s ease;
}

ul.produtosLista li a:hover
{
	background-color:	white;
	color:				black;
	text-decoration:	underline;
}

ul.produtosLista li a.incluirOrcamento
{
	color:					white;
	background-color:		#3dbd2a;
	
	-webkit-border-radius:	30px;
	-moz-border-radius:		30px;
	border-radius:			30px;
	
	padding-left:			15px;
	padding-right:			15px;
	
	-webkit-transition:		all 1s ease;
	-moz-transition:		all 1s ease;
	-ms-transition:			all 1s ease;
	-o-transition:			all 1s ease;
	transition:				all 1s ease;
}

ul.produtosLista li a.incluirOrcamento:hover
{
	background-color:	white;
	color:				black;
	text-decoration:	underline;
}

ul.produtosLista li a.linkImagem
{
	
	color:				black;
	text-decoration:	none;
	background-color:	transparent;
	
	font-family:		'Open Sans Condensed', sans-serif;
	position:			relative;
	left:				-25px;
}

ul.produtosLista li a.linkImagem figure.imgProduto img
{
	height:			80;
	padding-left:	0px;
}

ul.produtosLista li a#botaoDetalhes
{
	padding-left:	24px;
	padding-right:	24px;
}