/*
 *	Arquivo  template.css
 *	CSS da classe template.class.php
 *	
 *	Sistema:	Doce___Bacana_Lingerie
 *	Autor:      Rogério Eduardo Pereira
 *	Data:       13/01/2015
 */
@font-face 
{
	font-family:	"Logotipo";
	src:			url("../fonts/harngton.eot");
	src:			local('Logotipo'), url('../fonts/harngton.ttf') format('truetype');
}
body
{
	margin:				0px;
	padding:			0px;
	width:				100%;
	height:				100%;
	
	
	background-image:	url('../img/template/fundo.png');
	background-repeat:	repeat;
	
	font-family:		'Open Sans Condensed', sans-serif;
	font-size:			1.6em;
}
* html div#page {
	height: 100%; /* hack para IE6 que trata height como min-height */
	}

a
{
	font-family:		'Logotipo';
	text-decoration:	none;
	color:				#f70d48;
}
a:hover
{
	text-decoration: underline;
}

hr
{
	border:				0;
    height:				1px;
    background-image:	-webkit-linear-gradient(left,	rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:   -moz-linear-gradient(left,		rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:   -ms-linear-gradient(left,		rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:   -o-linear-gradient(left,		rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

h1
{
	margin-bottom:	0px;
	padding-bottom: 0px;
}

h1,h2,h3,h4,h5,h6,p,ul
{
	margin-top:		0px;
	padding-top:	0px;
}

h1
{
	font-size: 2em;
}

h2
{
	font-size: 1.5em;
}

h3,h4,h5,h6
{
	font-size: 1em;
}
	
div#page
{
	width:			100%;
	min-height:		100%;
	padding:		0px;
	margin:			0px;
}
div#header
{
	top:		0px;
	width:		100%;
	padding:	0px;
	margin:		0px;
}
div#menu
{
	position: absolute;
	top:		29%;
	width:		100%;
	padding:	0px;
	margin:		0px;
}
div#section
{
	position:	absolute;
	top:		36%;
	width:		100%;
	padding:	0px;
	margin:		0px;
}
div#footer
{
	position:		absolute;
	bottom:			0px;
	width:			100%;
	margin-bottom:	0%;
	padding-bottom: 0px;
}

div.imagemResponsiva
{
	position:		relative;
	width:			100%;
	text-align:		center;
	padding-bottom: 0px;
	margin-bottom:	0px;
}
div.imagemResponsiva img
{
	width: 100%;
}

/*
 * Para evitar criar um medidas.css para ter somente esse código não compensa, por isso coloquei no template.css
 */
div.imagemResponsiva img#imgMedidas
{
	width: 70%;
}

header
{
	position:	absolute;
	top:		0px;
	margin-top: 1%;	
	width:		100%;
}

header figure
{
	position:	relative;
	top:		0px;
	left:		1%;
	margin:		0px;
	padding:	0px;
}
header div#headerLogin
{
	position:	absolute;
	top:		0%;
	right:		15%;
}

header div#headerLogin a
{
	background-image:		url('../img/template/cadeado.png');
	background-repeat:		no-repeat;
	background-size:		30px 30px;
	background-position-x:	0px;
	
	padding-left:			30px;
	
	color:					#f70d48;
}

header div#headerCadastro
{
	position:				absolute;
	
	top:					0%;
	right:					1%;
	
	background-color:		black;
	
	-webkit-border-radius:	30px;
	-moz-border-radius:		30px;
	border-radius:			30px;
	
	padding-left:			15px;
	padding-right:			15px;
	
	-webkit-transition:		all 1s ease;
	-moz-transition:		all 1s ease;
	-ms-transition:			all 1s ease;
	-o-transition:			all 1s ease;
	transition:				all 1s ease;
}

header div#headerCadastro:hover
{
	background-color:	white;
	color:				black;
}

header div#headerCadastro a
{
	color:				white;
	text-decoration:	none;
	
	-webkit-transition:		all 1s ease;
	-moz-transition:		all 1s ease;
	-ms-transition:			all 1s ease;
	-o-transition:			all 1s ease;
	transition:				all 1s ease;
}

header div#headerCadastro a:hover
{
	text-decoration:	underline;
	color:				black;
}

header div#headerBusca
{
	position:		absolute;
	top:			60%;	
	right:			-2%;
	margin-right:	3%;
	height:			100%;
}


header div#headerBusca form input#buscaProduto
{
	position:							relative;
	font-family:						'Logotipo';
	font-size:							1em;
	
	top:								0px;
	margin-top:							0px;
	padding-top:						0px;
	padding-bottom:						0px;
	padding-left:						20px;
	
	-webkit-border-top-left-radius:		30px;
	-webkit-border-bottom-left-radius:	30px;
	-moz-border-radius-topleft:			30px;
	-moz-border-radius-bottomleft:		30px;
	border-top-left-radius:				30px;
	border-bottom-left-radius:			30px;
	border-color:						transparent;
}

header div#headerBusca form input#buscaProduto:focus
{
	outline: none;
}


header div#headerBusca form label
{
	position:		relative;	
	margin-top:		0px;
	padding-top:	0px;
}

header div#headerBusca form label img
{	
	height: 29px;
}

nav#navMenuPrincipal
{
	position:			absolute;
	left:				1%;
	width:				98%;
	
	background-color:	black;
	
	text-align:			center;
}

nav#navMenuPrincipal ul
{
	list-style: none;
	
	margin:		0px;
	padding:	0px;
}

nav#navMenuPrincipal ul a
{
	color:			white;
	padding-left:	0px;
	padding-right:	0px;
	margin-left:	0px;
	margin-right:	0px;
	padding:		0px;
	height:			100%;
	
	border:			none;
}

nav#navMenuPrincipal ul a:hover
{
	text-decoration: underline;
}

nav#navMenuPrincipal ul a li
{
	display:			inline-block;
	
	margin-left:		0px;
	margin-right:		0px;
	padding-left:		40px;
	padding-right:		40px;
	height:				100%;
	
	-webkit-transition: all 1s ease;
	-moz-transition:	all 1s ease;
	-ms-transition:		all 1s ease;
	-o-transition:		all 1s ease;
	transition:			all 1s ease;
}

nav#navMenuPrincipal ul li:hover
{
	text-decoration:	underline;
	background-color:	white;
	color:				black;
	border:				none;
}

section
{
	position:		absolute;
	top:			31.4%;
	left:			1%;
	width:			98%;
	
	text-align:		justify;
}

section h1
{
	margin-top:		0px;
	padding-top:	0px;
}

section div
{
	position:		relative;
	width:			100%;
	margin-bottom:	7%;
}

section div#bannerTop
{
	width:		100%;
	display:	inline-block;
	margin:		0 0 0 0;
}
section div#bannerTop div.sliderTop
{
	position:		relative;
	width:			24.7%;
	margin:			0px;
	display:		inline-block;	
	text-align:		center;
	vertical-align: top;
}

section div#bannerTop div.sliderTop div.sliderTopImg
{
	text-align: center;
}

section aside#categoria
{
	width:			14%;
	float:			left;
	padding-top:	0px;
	text-align:		center;
}

section aside#categoria h1, section aside#categoria a
{
	font-size:		.8em;
	font-family:	'Open Sans Condensed', sans-serif;
}

section aside#categoria nav#navMenuCategorias ul#navMenuCategoriasLista
{
	list-style:		none;
	margin-top:		0px;
	margin-left:	0px;
	padding-left:	0px;
	text-align:		left;
}

section aside#categoria nav#navMenuCategorias ul#navMenuCategoriasLista a
{
	color: black;
}

section aside#categoria nav#navMenuCategorias ul#navMenuCategoriasLista a:hover
{
	text-decoration: none;
}

section aside#categoria nav#navMenuCategorias ul#navMenuCategoriasLista a li
{
	background-color:		white;
	padding-left:			10px;
	
	border:					solid 1px black;
	-webkit-border-radius:	5px;
	-moz-border-radius:		5px;
	border-radius:			5px;
	
	-webkit-transition:		all 1s ease;
	-moz-transition:		all 1s ease;
	-ms-transition:			all 1s ease;
	-o-transition:			all 1s ease;
	transition:				all 1s ease;
}

section aside#categoria nav#navMenuCategorias ul#navMenuCategoriasLista a li:hover
{
	background-color:	black;
	color:				white;
}

section div#conteudo
{
	width:			82%;
	float:			right;
	padding-left:	20px;
	padding-right:	20px;
	padding-bottom:	0px;
	margin-bottom:	0px;
	font-size:		.8em;
}

section div#bannerFooter
{
	width:			82%;
	float:			right;
	text-align:		center;
}
section div#bannerFooter img
{
	margin:			auto auto auto auto;
	vertical-align: middle;
}

footer
{
	position:			absolute;
	margin-top:			0%;
	width:				100%;
	background-color:	black;
	color:				white;
	text-align:			center;
}

footer hr
{
	border:				0;
    height:				1px;
    background-image:	-webkit-linear-gradient(left,	rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:   -moz-linear-gradient(left,		rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:   -ms-linear-gradient(left,		rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:   -o-linear-gradient(left,		rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
}

footer a
{
	color: #f70d48;
}

footer div#footerDesc
{
	position:		relative;
	width:			100%;
	top:			0px;
	
	color:			white;
	
	font-size:		.7em;
	
	margin-bottom:	23%;
	
	text-align:		left;
}

footer div#footerDesc div#footerDescInformacoes
{
	position:	absolute;
	width:		20%;
	left:		2.5%;
	top:		0px;
}

footer div#footerDesc div#footerDescConta
{
	position:	absolute;
	width:		20%;
	left:		25.5%;
	top:		0px;
}

footer div#footerDesc div#footerDescContato
{
	position:	absolute;
	width:		20%;
	left:		51.5%;
	top:		0px;
}

footer div#footerDesc div#footerDescSocial
{
	position:	absolute;
	width:		20%;
	left:		77.5%;
	top:		0px;
}

footer div#footerDesc div#footerCopyright
{
	position:		absolute;
	top:			80%;
	width:			100%;
	margin-top:		20%;
	margin-bottom:	0px;
	padding-bottom: 0px;
}